._jcm_wrapper_{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  z-index: 10000;
  color: $white;
  text-align: center;

  &.active{
    display: block;
  }

  ._jcm_main_{
    h1{
      color: $white;
    }
  }
}

._jcm_side{
  &-wrapper{
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0px;
    z-index: 10001;
    box-shadow:8px 0 8px -10px $dark-grey,-8px 0 8px -10px $dark-grey;
    background: rgba(255,255,255,.95);
    transition: width .5s ease;

    &.active{
      visibility: visible;
      width: 400px;
    }
  }
  &-content{
    opacity: 0;
    transition: opacity 1s ease;
    .active & {
      opacity: 1;
    }
  }
}