$primary-color: #e3000f !default;
$blue:          #5a92a8 !default;
$light-blue:    #e3edf0 !default;
$light-grey:    #dddddd !default;
$dark-grey:     #212529 !default;
$white:         #ffffff !default;